@model IEnumerable<DevTimer.Domain.Entities.Work>
@{
    ViewBag.Title = "Time";
    int hours = 0;
}

<div class="caption">
    <i class="fa fa-clock-o"></i>
    Time
</div>
<div class="btn-group"></div>
<div class="btn-group pull-right margin-top-bottom">
    <button onclick="window.location.href = '/Time/Edit/0'" id="newTime" class="btn green">
        Add New
        <i class="fa fa-plus"></i>
    </button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Options
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right">
        <li><a href="/Time">Export to Excel</a></li>
    </ul>
</div>
<div>

    @foreach (var workday in Model.GroupBy(item => item.StartTime.Value.ToString("MM/dd/yyyy")))
    {
        <div class="margin-top-bottom">
            <table class="table table-advance table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>@workday.First().StartTime.Value.ToString("MM/dd/yyyy ddd")</th>
                    <th>@workday.Sum(e => e.Hours) Hours</th>
                </tr>
                </thead>
                <tbody>

                    @foreach (var work in workday)
                    {
                        <tr>
                            <td>
                                @work.Project.Name
                            </td>
                            <td>
                                @work.StartTime.Value.ToString("h:mm tt") - @work.EndTime.Value.ToString("h:mm tt")
                            </td>
                            <td>
                                @work.Hours
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }


</div>

